data/fragments/*.ply
data/fragments/*.PLY
data/fragments/*.obj
data/fragments/*.OBJ
data/2d_fragments/*.png
models/*.pkl
models/*.pth
models/*.joblib
results/*.ply
results/*.PLY
__pycache__/
.ipynb_checkpoints/
*.pyc
*.egg-info/
dist/
build/
.DS_Store
